@{
    ViewData["Title"] = "Airport Page";
}




<div class="airport-page">
    <header>
        <h2 class="text-center" style="color: red;" id="box">Click on the Thumbtack for Airport Data </h2>
    </header>
    <div id="mapContainer">
        <img src="~/images/USA MAP.jpg" id="map" alt="overheadview usa map">
        <a href="/Airport/ViewAirport/ilg"><img src="/images/silhoutte_thumbtack.jpg" class="tack" id="ilg" alt="silhoutte_thumbtack/location" /></a>
        <a href="/Airport/ViewAirport/ags"><img src="/images/silhoutte_thumbtack.jpg" class="tack" id="ags" alt="silhoutte_thumbtack/location" /></a>
        <a href="/Airport/ViewAirport/cha"><img src="/images/silhoutte_thumbtack.jpg" class="tack" id="cha" alt="silhoutte_thumbtack/location" /></a>
        
    </div>
</div>







