@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<p>All data contained and presented is for reference only.
   Please contact the Original Equipment Manufacturer (OEM)
   for accurate data.
</p>
