@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<p>Information on this site may not be accurate or current and is not valid for flight
    planning or any other aircraft operations. No warranty of fitness for any purpose is
    made or implied. Flight planning or any other aircraft operations should only be done 
    using official technical information provided by the manufacturer or FAA.
</p>
